@import "../../../assets/style/variables/colors";

#about-section{
  background-color: $light-grey;
  //background-image: url('../../assets/img/background-pics-bottom.svg');
  //background-size: cover;
  //background-position: bottom;
  color: $black ;
}

.description{
  margin: 32px 0;
}

.rge {
  display: flex;
  align-items: center;
  margin-top: 64px;

  .rge-text {
    padding-left: 32px;
  }

  img#rge{
    display: inline-block;
    margin: 0;
    height: 170px;
    width: auto;
  }
}
