@import "../../assets/style/colors";

#header-section {
  padding: 0;
}

.header-container {
  height: 500px;
  background-color: $white;
  background-image: url("../../assets/img/background6.png");
  background-size: cover;
  background-position: center;
}

.header-filter {
  height: 500px;
  width: 100%;
  background-color: rgba(0, 0, 0, .4);
  background-image: -webkit-linear-gradient(right, rgba(0,0,0,.7), rgba(0,0,0,0));;
  background-image: -o-linear-gradient(right, rgba(0,0,0,.7), rgba(0,0,0,0));;
  background-image: -moz-linear-gradient(right, rgba(0,0,0,.7), rgba(0,0,0,0));;
  background-image: linear-gradient(to right, rgba(0,0,0,.7), rgba(0,0,0,0));;
  color: $white;
  display: flex;
  align-items: center;
}

.header-title {
  font-size: 90px;
  margin: 0;
}

.header-subtitle {
  font-size: 35px;
  opacity: .7;
}

@media screen and (max-width: 767px) {
  .header-title {
    font-size: 2rem;
  }

  .header-subtitle {
    font-size: 1.2rem;
  }

  .header-container,
  .header-filter {
    height: 250px;
  }
}
