<div fxLayoutAlign="space-between start" class="title-container">
  <div>
    <div fxLayoutAlign="start center">
      <div *ngIf="hasBackButton" class="back-button" (click)="goBack()">
        <app-svg-icon name="left-arrow-icon"></app-svg-icon>
      </div>

      <h1 *ngIf="title" class="title">{{title}}</h1>

      <ng-container *ngIf="tags && tags.length">
        <div class="tag-list">
          <div class="tag" [class.error]="tagError" [class.success]="tagSuccess" *ngFor="let tag of tags">{{tag}}</div>
        </div>
      </ng-container>
    </div>

    <div *ngIf="subtitle" class="subtitle">{{subtitle}}</div>
  </div>

  <ng-content></ng-content>
</div>
