<section id="document-section" [ngsReveal]="{scale: 1, opacity: 0, origin: 'right', distance: 300, delay: 100, distance: '300px', duration: 500}">
  <div class="container">

    <div *ngIf="document; else spinner">

      <app-page-title [title]="document?.title" [subtitle]="document?.date" [hasBackButton]="true">
        <a class="my-button accent" [href]="documentUrl" target="_blank" *ngIf="documentUrl">
          Télécharger ma facture
          <app-svg-icon class="button-icon" name="download-icon"></app-svg-icon>
        </a>
      </app-page-title>

      <div class="document-container">
        <div *ngIf="documentUrl; else documentSpinner">
          <pdf-viewer [src]="documentUrl"></pdf-viewer>
        </div>

        <ng-template #documentSpinner>
          <app-spinner></app-spinner>
        </ng-template>
      </div>

    </div>

    <ng-template #spinner>
      <app-spinner></app-spinner>
    </ng-template>
  </div>
</section>
