<div class="rge-modal-overlay" *ngIf="rgeService.modalOpen$ | async">
  <div class="rge-modal-container">
    <div class="rge-modal-header">
      <div class="rge-modal-header-title">Certification RGE</div>

      <div class=""></div>
      <div
        class="rge-modal-close circle-button circle-button-small"
        (click)="close()"
      >
        <img src="../../assets/img/clear.svg" />
      </div>
    </div>

    <div class="rge-modal-content">
      <h4>
        Les CEE : comment faire des économies sur vos travaux de rénovation ?
      </h4>

      <br />
      Les
      <a
        href="https://www.ecologique-solidaire.gouv.fr/dispositif-des-certificats-deconomies-denergie"
        target="_blank"
        >Certificats d'économies d'énergie</a
      >, ou CEE, sont un dispositif ayant été mis en place par le gouvernement
      français. Celui-ci vous aide à réaliser des économies notables sur vos
      travaux de rénovation énergétique.
      <br />
      <br />
      Réaliser des travaux de rénovation énergétique en passant par un artisan
      RGE, c'est se soucier de son impact environnemental. C'est justement dans
      ce contexte de préservation de l'environnement et suite à l'obligation des
      fournisseurs d'énergie de diminuer leur empreinte carbone que ces aides
      ont vu le jour. S'ils ne veulent pas se voir infliger une amende, les
      vendeurs d'énergie doivent en effet se procurer des certificats d'économie
      d'énergie auprès de particuliers ou d'entreprises.
      <br />
      <br />
      Il est particulièrement difficile pour les
      <a
        href="https://www.papernest.com/simulation-credit-immobilier/primo-accedant/"
        target="_blank"
        >très jeunes propriétaires</a
      >
      d'assumer le coût de travaux de rénovation. Se renseigner sur le
      dispositif CEE, et donc payer une facture inférieure d'approximativement
      40% à la facture initialement prévue, peut-être d'une importance capitale.
      <br />
      <br />
      Vous pouvez également jeter un coup d'oeil
      <a
        href="https://www.fournisseur-energie.com/actualites/certificats-economies-energie/"
        target="_blank"
        >ici</a
      >
      afin d'en savoir plus sur le fonctionnement des CEE et comment y être
      éligible.
    </div>
  </div>
</div>
