<div class="sub-nav">
  <div class="tag success">Admin</div>

  <a [class.selected]="selectedNavItem === 'accueil'" routerLink="/espace-admin">
    <app-svg-icon name="home-icon" [size]="20"></app-svg-icon>
    <div>Accueil</div>
  </a>
  <a [class.selected]="selectedNavItem === 'chantiers'" routerLink="/espace-admin/chantiers">
    <app-svg-icon name="calendar-icon" [size]="20"></app-svg-icon>
    <div>Chantiers</div>
  </a>
  <a [class.selected]="selectedNavItem === 'clients'" routerLink="/espace-admin/clients">
    <app-svg-icon name="user-icon" [size]="20"></app-svg-icon>
    <div>Clients</div>
  </a>
</div>


