<section id="about-section">
  <div class="container">
    <h1 class="section-title">&Agrave; propos</h1>
    <div class="description">
      <p>
        La Menuiserie M&amp;T est née le 1er septembre 2009 suite au rachat de la Menuiserie Beurrier (crée en 1985). Les deux associés, Jacques Madec et Philippe Thébault étaient ouvriers de la Menuiserie Beurrier depuis 1986 et 2002.
        <br><br>Nous nous appuyons sur près de 30 ans d'expérience pour intervenir en construction ou rénovation, en menuiserie générale.
      </p>

      <!--<div class="text-center"><img src="../../assets/img/rge.png" alt="RGE" id="rge"></div>-->
      <!--<p>-->
        <!--<br><br>Depuis mars 2015, notre entreprise veille au respect de l'environement et dispose de la Certification Qualibat RGE garantissant un travail écoresponsable de qualité.-->
      <!--</p>-->

      <div class="rge row">
        <div class="text-center col-md-3"><img src="../../assets/img/rge-badge.png" alt="RGE" id="rge"></div>
        <div class="rge-text col-md-9">
          Depuis mars 2015, notre entreprise veille au respect de l'environement et dispose de la Certification Qualibat RGE garantissant un travail écoresponsable de qualité.
        </div>
      </div>

    </div>
  </div>
</section>
