@import "../../../../assets/style/variables";

.project-container {
  margin-top: $big-gap;
}

.project-subsection {
  margin-top: $very-big-gap;
}

.label {
  display: inline-block;
  width: 150px;
  margin-right: $small-gap;
}

.project-info {
  margin-left: -$middle-gap;
  margin-right: -$middle-gap;

  & > div {
    padding: $middle-gap;
  }
}
