<header ngsReveal="" class="hidden-md-down">
  <nav class="navbar fixed-top bg-faded">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" (click)="toTop()">
        <img src="/assets/img/logo_mt.jpg">
      </a>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active" *ngFor="let item of items">
            <a class="nav-link" href="#">{{ item }} <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--<nav id="navbar">-->
    <!--<ul class="nav">-->
      <!--<div class="nav-item">-->
        <!--<a pageScroll href="#header-section">-->
          <!--<img src="/assets/img/logo_mt.jpg">-->
        <!--</a>-->
      <!--</div>-->

      <!--<li class="nav-item" *ngFor="let item of items">-->
        <!--<a pageScroll [href]="item.link">-->
          <!--<div class="bullet"></div>-->
        <!--</a>-->
        <!--<div class="label"><span>{{ item.label }}</span></div>-->
      <!--</li>-->

    <!--</ul>-->
  <!--</nav>-->
</header>
