@import "../../assets/style/variables";

header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}

.navbar {
  height: $navbar-height;
  width: 100%;
  background-color: $black;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navbar-logo {
  display: inline-block;

  img {
    height: $navbar-height * .8;
  }
}
