<header>
  <nav class="navbar">

    <div fxLayout="row" fxLayoutAlign="start center">
      <a class="toggleButton" (click)="toggleSidenav()" *ngIf="isAuthenticated">
        <app-svg-icon name="menu"></app-svg-icon>
      </a>

      <a class="navbar-brand" (click)="goToHome()">
        <img src="/assets/img/logo_mt.jpg">
      </a>
    </div>

    <div class="nav-links-container">
      <a class="nav-link" routerLink="/login" *ngIf="isHome">
        <div>Espace Client</div>
        <app-svg-icon class="button-icon" name="user"></app-svg-icon>
      </a>

      <a class="nav-link" (click)="logout()" *ngIf="isAuthenticated">
        <div>Se déconnecter</div>
      </a>
    </div>
  </nav>
</header>


<div class="main-container">
  <div class="sidenav-container" [class.visible]="isAuthenticated && sidenavVisible">
    <app-customer-header class="sidenav" [user]="user"></app-customer-header>
  </div>

  <div class="page-content" [class.hasSidenav]="isAuthenticated && sidenavVisible">
    <router-outlet></router-outlet>
  </div>
</div>
