<section id="project-section" [ngsReveal]="{scale: 1, opacity: 0, origin: 'right', distance: 300, delay: 100, distance: '300px', duration: 500, useDelay:'onload'}">
  <div class="container">

    <div *ngIf="project; else spinner">
      <app-page-title [title]="project?.title" [subtitle]="subtitle" [hasBackButton]="true"></app-page-title>

      <div class="project-container">
        <div class="subsection">
          <app-project-timeline [project]="project"></app-project-timeline>
        </div>

        <div class="row project-info">
          <div class="col-lg-6 subsection">
            <h4 class="green-text">Adresse</h4>

            <div class="field-wrapper">
              <div class="tag field-label">
                <app-svg-icon name="pin-icon" [size]="20"></app-svg-icon>
              </div>
              {{project?.address}}
            </div>

            <div class="field-wrapper">
              <div class="tag field-label">
                <app-svg-icon name="city-icon" [size]="20"></app-svg-icon>
              </div>
              {{project?.city}}
            </div>

            <div class="field-wrapper">
              <div class="tag field-label">
                <app-svg-icon name="zipcode-icon" [size]="20"></app-svg-icon>
              </div>
              {{project?.zipcode}}
            </div>
          </div>

          <div class="col-lg-6 subsection">
            <h4 class="green-text">Informations</h4>

            <div class="field-wrapper">
              <div class="tag field-label">
                Début
              </div>
              {{(project?.startDate | amDateFormat:'DD/MM/YYYY')}}
            </div>

            <div class="field-wrapper">
              <div class="tag field-label">
                Fin
              </div>
              {{project?.endDate ? (project?.endDate | amDateFormat:'DD/MM/YYYY') : 'En cours...'}}
            </div>

            <div class="field-wrapper">
              <div class="tag field-label">
                Statut
              </div>
              <div class="tag"
                   [class.error]="project?.status === 'PENDING' || project?.status === 'WAITING_PAYMENT'"
                   [class.success]="project?.status !== 'PENDING' && project?.status !== 'WAITING_PAYMENT'">
                {{status}}
              </div>
            </div>

            <div class="field-wrapper" *ngIf="project?.notes">
              <div class="tag field-label">
                Notes
              </div>
              {{project?.notes}}
            </div>
          </div>

          <div class="subsection col-lg-12" *ngIf="isAdmin">
            <h4 class="green-text">Client</h4>

            <div class="list-container" *ngIf="user; else noUser">
              <app-list-item icon="user-icon"
                             [title]="user?.firstName + ' ' + user?.lastName"
                             [subtitle]="user?.email"
                             [tags]="user?.isAdmin ? ['Admin'] : []"
                             [success]="user.isAdmin"
                             link="/espace-admin/clients/{{user?.id}}">
              </app-list-item>
            </div>

            <ng-template #noUser>
              <div class="list-container empty-list">
                <app-svg-icon name="invoice-icon" [size]="100"></app-svg-icon>
                Pas de client
              </div>
            </ng-template>
          </div>

          <div class="subsection col-lg-6">
            <h4 class="green-text">Devis</h4>

            <div class="list-container" *ngIf="quotes?.length; else emptyQuotes">
              <ng-container *ngFor="let quote of quotes">
                <app-list-item icon="invoice-icon"
                               [title]="quote?.title"
                               [subtitle]="quote?.date"
                               [tags]="quote?.done ? ['Signé'] : ['À valider']"
                               [error]="!quote?.done"
                               [success]="quote?.done"
                               [link]="(isAdmin ? '/espace-admin' : '/espace-client') + '/devis/' + user?.id + '/' + quote?.id">
                </app-list-item>
              </ng-container>
            </div>

            <ng-template #emptyQuotes>
              <div class="list-container empty-list">
                <app-svg-icon name="invoice-icon" [size]="100"></app-svg-icon>
                Pas encore de devis
              </div>
            </ng-template>
          </div>

          <div class="subsection col-lg-6">
            <h4 class="green-text">Factures</h4>

            <div class="list-container" *ngIf="invoices?.length; else emptyInvoices">
              <ng-container *ngFor="let invoice of invoices">
                <app-list-item icon="invoice-icon"
                               [title]="invoice?.title"
                               [subtitle]="invoice?.date"
                               [tags]="invoice?.done ? ['Payée'] : ['À payer']"
                               [error]="!invoice?.done"
                               [success]="invoice?.done"
                               [link]="(isAdmin ? '/espace-admin' : '/espace-client') + '/devis/' + user?.id + '/' + invoice?.id">
                </app-list-item>
              </ng-container>
            </div>

            <ng-template #emptyInvoices>
              <div class="list-container empty-list">
                <app-svg-icon name="invoice-icon" [size]="100"></app-svg-icon>
                Pas encore de facture
              </div>
            </ng-template>
          </div>

        </div>
      </div>

    </div>

    <ng-template #spinner>
      <app-spinner></app-spinner>
    </ng-template>
  </div>
</section>

<button class="circle-button fab-button accent"
        *ngIf="isAdmin"
        [routerLink]="'/espace-admin/chantiers/' + user?.id + '/' + project?.id + '/modifier'">
  <app-svg-icon name="edit-icon"></app-svg-icon>
</button>
