@import "~assets/style/variables";
@import "~assets/style/variables";

#login-section {
  background-image: url("../../assets/img/login-background.jpg");
  background-position: center;
  background-size: cover;
  position: fixed;
  top: $navbar-height;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.login-wrapper {
  background-color: $white;
  padding: $big-gap;
  width: 350px;
  border-radius: $small-radius;

  .title {
    color: $green;
    font-weight: bold;
    text-align: center;
  }
}


.input-group {
  margin: $very-small-gap 0;
}
