<section id="login-section">
  <div class="login-wrapper shadow-strong" [ngsReveal]="{scale: .5, origin: 'bottom', delay:100, distance: '100px', duration: 500}">
    <h4 class="title">Nouveau mot de passe</h4>

    <small>Entrez votre nouveau dans le premier champs et saisissez le une nouvelle fois dans le champs suivant pour le confirmer.</small>

    <form>
      <div class="input-group">
        <div class="input-wrapper">
          <app-svg-icon class="input-icon" name="locker" [size]="20"></app-svg-icon>
          <input type="password" placeholder="Mot de passe">
        </div>
        <div class="input-wrapper">
          <app-svg-icon class="input-icon" name="locker" [size]="20"></app-svg-icon>
          <input type="password" placeholder="Confirmation">
        </div>

        <div class="input-wrapper row-center">
          <button class="my-button accent">
            Valider
          </button>
        </div>
      </div>
    </form>

    <small><a class="signup-link" routerLink="/login">Retour à la page de connexion</a></small>

  </div>
</section>
