<section id="login-section">
  <div class="login-wrapper shadow-strong" [ngsReveal]="{scale: .5, origin: 'bottom', delay:100, distance: '100px', duration: 500}">
    <h4 class="title">Nouveau mot de passe</h4>

    <small>Entrez votre nouveau dans le premier champs et saisissez le une nouvelle fois dans le champs suivant pour le confirmer.</small>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <div class="input-wrapper">
          <app-svg-icon class="input-icon" name="locker" [size]="20"></app-svg-icon>
          <input id="password" type="password" placeholder="Mot de passe" formControlName="password">
          <div class="input-hint" *ngIf="!resetPasswordForm.controls.password.valid">
            8 caractères minimum dont 1 chiffre au moins.
          </div>
        </div>
        <div class="input-wrapper">
          <app-svg-icon class="input-icon" name="locker" [size]="20"></app-svg-icon>
          <input id="confirmPassword" type="password" placeholder="Confirmation" formControlName="confirmPassword">
          <div class="input-hint error" *ngIf="resetPasswordForm.hasError('mismatch')">
            Les deux mots de passe doivent être identiques.
          </div>
        </div>

        <div class="input-wrapper row-center">
          <button class="my-button accent" type="submit" [disabled]="!resetPasswordForm.valid">
            Valider
          </button>
        </div>
      </div>
    </form>

    <small><a class="signup-link" routerLink="/login">Retour à la page de connexion</a></small>

  </div>
</section>
