input {
  border: none;
  background-color: $light-grey;
  color: $dark-grey;
  border-radius: $small-radius;
  padding: $small-gap $middle-gap;
  width: 100%;
  outline: none !important;
}

.input-wrapper {
  width: 100%;
  position: relative;

  input {
    padding-left: 40px;
  }


}

.input-group {
  margin: -$small-gap 0;
  width: 100%;

  .input-wrapper {
    margin: $small-gap 0;

    app-svg-icon.input-icon {
      fill: $dark-grey;
      position: absolute;
      left: $small-gap;
      height: 20px;
      width: 20px;
      top: 50%;
      margin-top: -10px;
    }
  }
}
