.list-container {
  margin-top: $middle-gap;
}

.empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $light-grey;
  font-size: 30px;
  user-select: none;

  app-svg-icon {
    fill: $light-grey;
    margin-bottom: $middle-gap;
  }
}
