modal-container.modal {
  display: flex !important;
  justify-content: center;
  align-items: center;

  app-svg-icon {
    fill: $dark-grey;
  }
}

.modal-content {
  box-shadow: $shadow-strong;
  border: none !important;
  border-radius: $small-radius !important;
}

.modal-header {
  justify-content: space-between !important;
  align-items: center !important;
}

.modal-body {
  padding-top: $big-gap !important;
  padding-bottom: $big-gap !important;
}

.modal-footer {
  justify-content: center !important;
  align-items: center !important;
}
