@import "../../../../assets/style/variables";

.project-subsection {
  margin-top: $very-big-gap;
}

.project-info {
  margin-left: -$middle-gap;
  margin-right: -$middle-gap;

  & > div {
    padding: $middle-gap;
  }
}
