<section id="client-section">
  <div class="container">
    <h1 class="section-title">Votre espace client</h1>

    <div [ngsReveal]="{delay: 550}">
      <div class="text-center description">
        <h3>Accédez maintenant à votre espace client</h3>

        <div class="row-center client-detail-wrapper">
          <div class="client-detail">
            <div class="client-detail-icon">
              <img src="/assets/img/client-services/facture.svg" alt="Gérez vos factures">
            </div>
            <div class="client-detail-text">
              <h5>Gérez vos factures</h5>
            </div>
          </div>

          <div class="client-detail">
            <div class="client-detail-icon">
              <img src="/assets/img/client-services/planning.svg" alt="Suivez l'avancement de votre projet">
            </div>
            <div class="client-detail-text">
              <h5>Suivez l'avancement de votre projet</h5>
            </div>
          </div>

          <div class="client-detail">
            <div class="client-detail-icon">
              <img src="/assets/img/client-services/planning.svg" alt="Lorem ipsum">
            </div>
            <div class="client-detail-text">
              <h5>Lorem ipsum</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="row-center">
        <button class="my-button primary">Mon espace client <app-svg-icon class="button-icon" name="user"></app-svg-icon>
        </button>
      </div>
    </div>
  </div>
</section>
