<section id="customer-home-section" [ngsReveal]="{scale: 1, opacity: 0, origin: 'right', distance: 300, delay: 100, distance: '300px', duration: 500}">
  <div class="container">
    <div *ngIf="user; else spinner">
      <h1>Bonjour, <span class="user-name">{{user?.firstName}}</span></h1>
      <br>
      <p>Bienvenue dans votre espace client !</p>
      <p>Dans cet espace vous pourrez renseigner vos informations client, accéder à vos factures et suivre l'évolution de vos chantiers.</p>

      <div class="row customer-service-container">
        <div class="col-lg-4">
          <div class="customer-service-wrapper" routerLink="/espace-client/factures">
            <app-svg-icon name="invoice-icon" [size]="100"></app-svg-icon>
            <div>Gestion de mes factures</div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="customer-service-wrapper" routerLink="/espace-client/suivi-chantier">
            <app-svg-icon name="calendar-icon" [size]="100"></app-svg-icon>
            <div>Suivi de mon chantier</div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="customer-service-wrapper" routerLink="/espace-client/profil">
            <app-svg-icon name="user-icon" [size]="100"></app-svg-icon>
            <div>Mes informations personnelles</div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #spinner>
      <app-spinner></app-spinner>
    </ng-template>
  </div>
</section>
