<div class="timeline-container" fxLayoutAlign="space-between center">

  <div class="step" [class.done]="step > 0" [class.ongoing]="step === 0">
    <app-svg-icon name="check-icon" [size]="30" *ngIf="step > 0"></app-svg-icon>
    <app-svg-icon name="clock-icon" [size]="30" *ngIf="step <= 0"></app-svg-icon>

    <div class="step-label first" *ngIf="step === 0">{{project?.getStatus()}}</div>
  </div>

  <div class="link" [class.done]="step > 0"></div>

  <div class="step" [class.done]="step > 1" [class.ongoing]="step === 1">
    <app-svg-icon name="check-icon" [size]="30" *ngIf="step > 1"></app-svg-icon>
    <app-svg-icon name="clock-icon" [size]="30" *ngIf="step <= 1"></app-svg-icon>

    <div class="step-label" *ngIf="step === 1">{{project?.getStatus()}}</div>
  </div>

  <div class="link" [class.done]="step > 1"></div>

  <div class="step" [class.done]="step > 2" [class.missed]="step === 2 && project?.status === 'PENDING'" [class.ongoing]="step === 2 && project?.status !== 'PENDING'">
    <app-svg-icon name="check-icon" [size]="30" *ngIf="step > 2"></app-svg-icon>
    <app-svg-icon name="close-icon" [size]="30" *ngIf="step === 2 && project?.status === 'PENDING'"></app-svg-icon>
    <app-svg-icon name="clock-icon" [size]="30" *ngIf="step <= 2  && project?.status !== 'PENDING'"></app-svg-icon>

    <div class="step-label" *ngIf="step === 2">{{project?.getStatus()}}</div>
  </div>

  <div class="link" [class.done]="step > 2"></div>

  <div class="step"  [class.missed]="step === 3"  [class.done]="step > 3">
    <app-svg-icon name="check-icon" [size]="30" *ngIf="step > 3"></app-svg-icon>
    <app-svg-icon name="euro-icon" [size]="30" *ngIf="step === 3"></app-svg-icon>
    <app-svg-icon name="clock-icon" [size]="30" *ngIf="step < 3"></app-svg-icon>

    <div class="step-label" *ngIf="step === 3">{{project?.getStatus()}}</div>
  </div>

  <div class="link"  [class.done]="step > 3"></div>

  <div class="step"  [class.done]="step > 3">
    <app-svg-icon name="check-icon" [size]="30" *ngIf="step > 3"></app-svg-icon>
    <app-svg-icon name="clock-icon" [size]="30" *ngIf="step <= 3"></app-svg-icon>

    <div class="step-label last" *ngIf="step > 3">{{project?.getStatus()}}</div>
  </div>
</div>
