<div fxLayoutAlign="space-between center">

  <div class="step done">
    <app-svg-icon name="check-icon" [size]="30"></app-svg-icon>
  </div>

  <div class="link done"></div>

  <div class="step done">
    <app-svg-icon name="check-icon" [size]="30"></app-svg-icon>
  </div>

  <div class="link done"></div>

  <div class="step missed">
    <app-svg-icon name="close-icon" [size]="30"></app-svg-icon>
  </div>

  <div class="link"></div>

  <div class="step">
    <app-svg-icon name="clock-icon" [size]="30"></app-svg-icon>
  </div>

  <div class="link"></div>

  <div class="step">
    <app-svg-icon name="clock-icon" [size]="30"></app-svg-icon>
  </div>
</div>
