<section id="factures-section" [ngsReveal]="{scale: 1, opacity: 0, origin: 'right', distance: 300, delay: 100, distance: '300px', duration: 500}">
  <div class="container">

    <div *ngIf="user; else spinner">
      <h1>Mes factures</h1>

      <div class="invoices-list">

        <ng-container *ngFor="let invoice of invoices">
          <app-list-item icon="invoice-icon" title="Facture fenêtres" subtitle="18 mars 2018"></app-list-item>
        </ng-container>

      </div>
    </div>

    <ng-template #spinner>
      <app-spinner></app-spinner>
    </ng-template>
  </div>
</section>
