<section id="factures-section" [ngsReveal]="{scale: 1, opacity: 0, origin: 'right', distance: 300, delay: 100, distance: '300px', duration: 500}">
  <div class="container">

    <div>
      <h1>Mes factures</h1>

      <div *ngIf="invoices; else spinner">
        <div class="invoices-list" *ngIf="invoices.length; else emptyList">
          <ng-container *ngFor="let invoice of invoices">
            <app-list-item icon="invoice-icon" [title]="invoice.title" [subtitle]="invoice.date" link="/espace-client/factures/{{invoice.id}}"></app-list-item>
          </ng-container>
        </div>

        <ng-template #emptyList>
          <div class="invoices-list empty-list">
            <app-svg-icon name="invoice-icon" [size]="200"></app-svg-icon>
            Aucune facture
          </div>
        </ng-template>
      </div>

      <ng-template #spinner>
        <app-spinner></app-spinner>
      </ng-template>
    </div>
  </div>
</section>
