<section id="login-section">
  <div class="login-wrapper shadow-strong" [ngsReveal]="{scale: .5, origin: 'bottom', delay:100, distance: '100px', duration: 500}">
    <h4 class="title">Mot de passe oublié</h4>

    <small>Entrez votre adresse mail. Nous vous enverrons un email pour choisir un nouveau mot de passe.</small>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="input-container row">
        <div class="input-wrapper col-lg-12">
          <app-svg-icon class="input-icon" name="user" [size]="20"></app-svg-icon>
          <input id="mail" type="email" placeholder="Adresse mail" formControlName="mail">
          <div class="input-hint error" *ngIf="mailFailed">
            Cette adresse mail n'est liée à aucun compte.
          </div>
        </div>
      </div>

      <div class="input-container row-center">
        <div class="input-wrapper">
          <button class="my-button accent" type="submit" [disabled]="!forgotPasswordForm.valid">
            Valider
          </button>
        </div>
      </div>
    </form>

    <small><a class="signup-link" routerLink="/login">Annuler</a></small>

  </div>
</section>
