<section id="login-section">
  <div class="login-wrapper shadow-strong" [ngsReveal]="{scale: .5, origin: 'bottom', delay:100, distance: '100px', duration: 500}">
    <h4 class="title">Mot de passe oublié</h4>

    <small>Entrez votre adresse mail. Nous vous enverrons un email pour choisir un nouveau mot de passe.</small>

    <form>
      <div class="input-group">
        <div class="input-wrapper">
          <app-svg-icon class="input-icon" name="user" [size]="20"></app-svg-icon>
          <input type="email" placeholder="Adresse mail">
        </div>

        <div class="input-wrapper row-center">
          <button class="my-button accent">
            Valider
          </button>
        </div>
      </div>
    </form>

    <small><a class="signup-link" routerLink="/login">Annuler</a></small>

  </div>
</section>
