$navbar-height: 80px;
$sidenav-width: 300px;

$very-small-gap: 5px;
$small-gap: 10px;
$middle-gap: 15px;
$big-gap: 30px;
$very-big-gap: 60px;

$small-radius: 4px;
$middle-radius: 5px;

$transition-slow: .5s;
$transition-fast: .3s;
