<section id="factures-section" [ngsReveal]="{scale: 1, opacity: 0, origin: 'right', delay: 100, distance: '300px', duration: 500, useDelay:'onload'}">
  <div class="container">

    <div>
      <app-page-title title="Chantiers"></app-page-title>

      <div class="list-filter-container">
        <div class="input-container row">
          <div class="input-wrapper col-lg-12">
            <input placeholder="Rechercher" (input)="onSearch()" [(ngModel)]="filterValue">
            <app-svg-icon class="input-icon" name="search-icon" [size]="20"></app-svg-icon>
          </div>
        </div>
      </div>

      <div *ngIf="projects; else spinner">
        <div class="list-container" *ngIf="projectsFiltered.length; else emptyList">
          <ng-container *ngFor="let project of projectsFiltered">
            <app-list-item icon="calendar-icon"
                           [title]="project.title"
                           [subtitle]="(project.startDate | amDateFormat:'DD/MM/YYYY') + ' - ' + (project.endDate ? (project.endDate | amDateFormat:'DD/MM/YYYY') : 'En cours...')"
                           [tags]="[getProjectStatus(project)]"
                           [error]="project.status === 'PENDING' || project.status === 'WAITING_PAYMENT'"
                           [success]="project.status === 'COMPLETED'"
                           link="/espace-admin/chantiers/{{project.ownerId}}/{{project.id}}">
            </app-list-item>
          </ng-container>
        </div>

        <ng-template #emptyList>
          <div class="list-container empty-list">
            <app-svg-icon name="calendar-icon" [size]="100"></app-svg-icon>
            Pas de chantier
          </div>
        </ng-template>
      </div>

      <ng-template #spinner>
        <app-spinner></app-spinner>
      </ng-template>
    </div>
  </div>
</section>

<button class="circle-button fab-button accent" routerLink="/espace-admin/nouveau-chantier">
  <app-svg-icon name="add-icon"></app-svg-icon>
</button>
