@import "../../../assets/style/colors";
@import "../../../assets/style/variables";

#gallery-section {
  background-color: $white;
  //background-image: url('../../assets/img/background-lines.svg');
  //background-size: cover;
  //background-position: right bottom;
  color: $black;
}

.album {
  border-radius: $radius;
  height: 200px;
  margin: 16px 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 20px 0px rgba(#000, 0.1);
  transition: 0.3s;
}

.album-background {
  height: 100%;
  width: 100%;
  background-color: $light-grey;
  background-position: center;
  background-size: cover;
  transition: 0.3s;
}

.album-filter {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  padding: 8px 16px;
  height: 100%;
  transition: 0.3s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .album-title {
    color: $white;
    transform: translateY(32px);
    transition: 0.3s;
  }

  .album-title-hover {
    color: $white;
    visibility: hidden;
    transform: translateY(32px);
    opacity: 0;
    transition: 0s;
  }
}

.album:hover {
  box-shadow: 0px 0px 20px 0px rgba(#000, 0.3);

  .album-background {
    transform: scale(1.2);
  }

  .album-filter {
    background-color: rgba(0, 0, 0, 0.7);

    .album-title {
      color: $white;
      transform: translateY(-32px);
      opacity: 0;
      transition: 0s;
    }

    .album-title-hover {
      visibility: visible;
      display: inline-block;
      transform: translateY(-8px);
      opacity: 1;
      transition: 0.3s;
    }
  }
}

@media screen and (max-width: 767px) {
  .album-container {
    width: 50%;
  }

  .album {
    height: 100px;
  }

  .album-title {
    font-size: 0.8rem;
  }

  .album-title-hover {
    font-size: 0.8rem;
    margin: 0;
  }

  .album-filter {
    padding: 8px;
  }

  .album-filter:hover {
    .album-title-hover {
      transform: translateY(0px);
    }
  }
}
