@import "../../../assets/style/variables";
.sub-nav {
  a {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    padding: $small-gap $middle-gap;
    color: rgba($dark-grey, .7) !important;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: $small-radius;
    margin: $very-small-gap 0;
    transition: $transition-fast;

    app-svg-icon {
      fill: rgba($dark-grey, .7);
      margin-right: $very-small-gap;
    }

    &:hover {
      background-color: rgba($dark-grey, .1);
      text-decoration: none !important;
      color: $dark-grey !important;

      app-svg-icon {
        fill: $dark-grey;
      }
    }

    &.selected {
      background-color: rgba($dark-grey, .1);
      color: $dark-grey !important;
      border-left: solid 8px $green;

      app-svg-icon {
        fill: $dark-grey;
      }
    }
  }
}

