<div class="sub-nav">
  <a [class.selected]="selectedNavItem === 'accueil'" (click)="onSelectNavItem('accueil')">
    <app-svg-icon name="home-icon" [size]="20"></app-svg-icon>
    <div>Accueil</div>
  </a>
  <a [class.selected]="selectedNavItem === 'factures'" (click)="onSelectNavItem('factures')">
    <app-svg-icon name="invoice-icon" [size]="20"></app-svg-icon>
    <div>Factures</div>
  </a>
  <a [class.selected]="selectedNavItem === 'suivi-chantier'" (click)="onSelectNavItem('suivi-chantier')">
    <app-svg-icon name="build-icon" [size]="20"></app-svg-icon>
    <div>Suivre mon chantier</div>
  </a>
  <a [class.selected]="selectedNavItem === 'profil'" (click)="onSelectNavItem('profil')">
    <app-svg-icon name="user-icon" [size]="20"></app-svg-icon>
    <div>Informations personnelles</div>
  </a>
</div>


