@import "../../../assets/style/variables";

.customer-header {
  background-color: $light-grey;
  color: $dark-grey;
  box-shadow: $shadow-light;

  .welcome-message {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .user-name {
    color: $green;
    margin: 0;
  }
}

.sub-nav {
  background-color: $light-grey;

  a {
    display: inline-block;
    box-sizing: border-box;
    padding: $small-gap;
    padding-top: 0;
    color: $dark-grey !important;
    font-weight: bold;

    &:hover {
      text-decoration: none !important;
      color: $green !important;
    }

    &.selected {
      color: $green !important;
      position: relative;
    }

    &::after {
      position: relative;
      content: "";
      bottom: -$small-gap;
      left: -$small-gap;
      display: block;
      height: 4px;
      width: 0;
      background-color: $green;
      transition: $transition-slow;
    }

    &.selected::after {
      width: calc(100% + #{$small-gap * 2});
    }
  }
}

