<section id="about-section">
  <div class="container">
    <h1 class="section-title">&Agrave; propos</h1>
    <div class="description">
      <p>
        La Menuiserie M&amp;T est née le 1er septembre 2009 suite au rachat de
        la Menuiserie Beurrier (crée en 1985). Les deux associés, Jacques Madec
        et Philippe Thébault étaient ouvriers de la Menuiserie Beurrier depuis
        1986 et 2002.
        <br /><br />Nous nous appuyons sur près de 30 ans d'expérience pour
        intervenir en construction ou rénovation, en menuiserie générale.
      </p>

      <div class="rge">
        <div class="text-center">
          <app-rge-badge [size]="120"></app-rge-badge>
        </div>

        <div class="rge-text">
          <h4>Reconnus garants de l'environnement</h4>
          Depuis mars 2015, notre entreprise veille au respect de l'environement
          et dispose de la Certification Qualibat RGE garantissant un travail
          éco-responsable de qualité.
          <br />
          <br />

          Grâce à notre certification, vous pouvez bénéficier de la prime CEE
          vous faisant éconimiser sur vos travaux.
          <br />
          <a [routerLink]="" (click)="openRgeModal()"> En savoir plus </a>
        </div>
      </div>
    </div>
  </div>
</section>
