<section id="document-section" [ngsReveal]="{scale: 1, opacity: 0, origin: 'right', distance: 300, delay: 100, distance: '300px', duration: 500}">
  <div class="container">

    <div *ngIf="document; else spinner">

      <app-page-title [title]="document?.title"
                      [tags]="[tag]"
                      [tagError]="!document?.done"
                      [tagSuccess]="document?.done"
                      [hasBackButton]="true">
        <a class="my-button accent" [href]="documentUrl" target="_blank" *ngIf="documentUrl">
          Télécharger
          <app-svg-icon class="button-icon" name="download-icon"></app-svg-icon>
        </a>
      </app-page-title>

      <div class="row">
        <div class="subsection col-lg-6" *ngIf="isAdmin">
          <h4 class="green-text">Client</h4>

          <div class="list-container" *ngIf="user; else noUser">
            <app-list-item icon="user-icon"
                           [title]="user?.firstName + ' ' + user?.lastName"
                           [subtitle]="user?.email"
                           [tags]="user?.isAdmin ? ['Admin'] : []"
                           [success]="user.isAdmin"
                           link="/espace-admin/clients/{{user?.id}}">
            </app-list-item>
          </div>

          <ng-template #noUser>
            <div class="list-container empty-list">
              <app-svg-icon name="invoice-icon" [size]="100"></app-svg-icon>
              Pas de client
            </div>
          </ng-template>
        </div>

        <div class="subsection" [class.col-lg-6]="isAdmin" [class.col-lg-12]="!isAdmin">
          <h4 class="green-text">Chantier</h4>

          <div class="list-container" *ngIf="project; else emptyProjects">
            <app-list-item icon="calendar-icon"
                           [title]="project.title"
                           [subtitle]="(project.startDate | amDateFormat:'DD/MM/YYYY') + ' - ' + (project.endDate ? (project.endDate | amDateFormat:'DD/MM/YYYY') : 'En cours...')"
                           [tags]="[project.getStatus()]"
                           [error]="project.status === 'PENDING' || project.status === 'WAITING_PAYMENT'"
                           [success]="project.status === 'COMPLETED'"
                           link="/espace-admin/chantiers/{{project.ownerId}}/{{project.id}}">
            </app-list-item>
          </div>

          <ng-template #emptyProjects>
            <div class="list-container empty-list">
              <app-svg-icon name="calendar-icon" [size]="100"></app-svg-icon>
              Pas de chantier
            </div>
          </ng-template>
        </div>


        <div class="subsection col-lg-12">
          <h4 class="green-text">Document</h4>

          <div class="document-container">
            <div *ngIf="documentUrl; else documentSpinner">
              <pdf-viewer [src]="documentUrl"></pdf-viewer>
            </div>

            <ng-template #documentSpinner>
              <app-spinner></app-spinner>
            </ng-template>
          </div>
        </div>
      </div>

    </div>

    <ng-template #spinner>
      <app-spinner></app-spinner>
    </ng-template>
  </div>
</section>

<button class="circle-button fab-button accent"
        *ngIf="isAdmin"
        [routerLink]="root + '/' + customerId + '/' + documentId + '/modifier'">
  <app-svg-icon name="edit-icon"></app-svg-icon>
</button>
