<section id="factures-section" [ngsReveal]="{scale: 1, opacity: 0, origin: 'right', delay: 100, distance: '300px', duration: 500, useDelay:'onload'}">
  <div class="container">

    <div>
      <app-page-title title="Mes devis"></app-page-title>

      <div *ngIf="quotes; else spinner">
        <div class="list-container" *ngIf="quotes.length; else emptyQuotes">
          <ng-container *ngFor="let quote of quotes">
            <app-list-item icon="document-icon"
                           [title]="quote.title"
                           [subtitle]="(quote.lastUpdate | amDateFormat:'DD/MM/YYYY')"
                           [tags]="[quote.getStatus()]"
                           [error]="!quote.done"
                           [success]="quote.done"
                           link="/espace-client/devis/{{user?.id}}/{{quote.id}}">
            </app-list-item>
          </ng-container>
        </div>

        <ng-template #emptyQuotes>
          <div class="list-container empty-list">
            <app-svg-icon name="document-icon" [size]="100"></app-svg-icon>
            Vous n'avez pas de devis
          </div>
        </ng-template>
      </div>

      <div class="gap"></div>

      <app-page-title title="Mes factures"></app-page-title>

      <div *ngIf="invoices; else spinner">
        <div class="list-container" *ngIf="invoices.length; else emptyInvoices">
          <ng-container *ngFor="let invoice of invoices">
            <app-list-item icon="document-icon"
                           [title]="invoice.title"
                           [subtitle]="(invoice.lastUpdate | amDateFormat:'DD/MM/YYYY')"
                           [tags]="[invoice.getStatus()]"
                           [error]="!invoice.done"
                           [success]="invoice.done"
                           link="/espace-client/factures/{{user?.id}}/{{invoice.id}}">
            </app-list-item>
          </ng-container>
        </div>

        <ng-template #emptyInvoices>
          <div class="list-container empty-list">
            <app-svg-icon name="document-icon" [size]="100"></app-svg-icon>
            Vous n'avez pas de facture
          </div>
        </ng-template>
      </div>

      <ng-template #spinner>
        <app-spinner></app-spinner>
      </ng-template>
    </div>
  </div>
</section>
